@import './variables';

*h2 {
    font-family: 'Shrikhand', serif;
}

*p {
    font-family: 'Roboto', sans-serif;
}

*h3 {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.none {
    display: none;
}

.part {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F2F2F2;
    padding-bottom: 40px;
    padding-left: 20px;
}

.service {
    h3 {
        font-size: 22px;
    }

}

.navlo {
    display: flex;
    width: 420px;
    flex-direction: column;
    align-items: center;
    background: #F2F2F2;
    height: 330px;
    padding-top: 20px;
    box-sizing: border-box;
}

.locate {
    width: 180px;

    height: 40px;
    background: linear-gradient(to top, $primary-color , $secondary-color 95%);
    color: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
    font-size: 12px;
}

.logo {

    img {
        width: 150px;
    }
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 40px;
    border-top: 5px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3) inset;
    background: #F2F2F2;

}



input {
    border: none;
    background-color: #F2F2F2;
    font-weight: bold;
    background: #F2F2F2;
}



.eat {
    display: flex;
    width: 270px;
    text-align: center;



}


.wrapper {
    display: flex;
    width: 420px;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    margin-top: 20px;

}

.option {
    display: flex;
    width: 360px;
    height: 80px;
    border-radius: 20px;
    gap: 10px;
    overflow: visible;
    z-index: 1;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
    background: #F2F2F2;


    p {
        font-weight: bold;
    }

    &:hover {
        background: rgb(147, 86, 220, 0.15)
    }

    &:hover #icony {
        color: $primary-color;

    }

    &:hover #icon {
        color: $primary-color;

    }

    &:hover #iconx {
        color: $primary-color;

    }



}

#icone {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

#iconex {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;

}

#iconey {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

#icon {
    font-size: 22px;
    color: grey;



}

#iconx {
    font-size: 22px;
    color: grey;

}

#icony {
    font-size: 22px;
    color: grey;


}

.m {
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 3px solid;
    align-items: center;
    align-self: center;
    left: -15px;
    position: relative;
    z-index: 2;
    background: rgb(134, 18, 244);
    color: #fff;


    i {
        margin: 0px auto;
    }
}

.n {
    display: flex;
    gap: 20px;

    i {
        align-self: center;
    }

    p {
        align-self: center;
    }
}

.place {
    width: 360px;
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #fff;

}

.carton {
    position: relative;
}

.photo {

    position: relative;

    img {
        width: 360px;
        height: 170px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        object-position: 10% 60%;

    }

}

.mot {
    display: flex;
    width: 80px;
    height: 25px;
    background: $tertiary-color;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;





    p {
        font-weight: bold;
        margin: 0;
        color: green;
    }


}

.choice {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.c {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;

    h3 {
        margin-bottom: 0px;
    }

    p {
        margin-top: 0px;
    }

}
.room {
    display: none;
    cursor: pointer;
    font-size: 25px;
    background: linear-gradient(to bottom, rgb(136, 84, 185),rgb(224, 114, 224)  50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    
    

}
.chambre{
    font-size: 25px;
}

.d:hover .chambre{
    opacity: 0;
    cursor: pointer;
    
    
  }
  
.d:hover .room{
    display: flex !important;
    cursor: pointer;
    animation: show 500ms forwards;
}




  
@-webkit-keyframes show {
    0% {
        opacity: 0.1;
        font-size: 5px;
      }
      25%{
          opacity: 0.3;
          font-size: 10px;
      }
      50%{
          opacity: 0.5;
          font-size: 15px;
      }
      75%{
          opacity: 0.8;
          font-size: 20px;
      }
      
      100% {
        opacity: 1;
        font-size: 25px;
      } 
  }
  @-moz-keyframes show {
    0% {
        opacity: 0.1;
        font-size: 5px;
      }
      25%{
          opacity: 0.3;
          font-size: 10px;
      }
      50%{
          opacity: 0.5;
          font-size: 15px;
      }
      75%{
          opacity: 0.8;
          font-size: 20px;
      }
      
      100% {
        opacity: 1;
        font-size: 25px;
      } 
  }

    
  @keyframes show {
    0% {
      opacity: 0.1;
      font-size: 5px;
    }
    25%{
        opacity: 0.3;
        font-size: 10px;
    }
    50%{
        opacity: 0.5;
        font-size: 15px;
    }
    75%{
        opacity: 0.8;
        font-size: 20px;
    }
    
    100% {
      opacity: 1;
      font-size: 25px;
    } 
  }

  

.d {
    display: flex;
    align-items: center;
    height: 80px;
    

}

.bugarrow {
    display: flex;
    width: 420px;
    flex-basis: 100px;
    justify-content: space-around;



}

.longway {
    position: relative;
    width: 420px;

}

.start {
    margin-left: 20px;
    width: 110px;

    p {
        width: 100px;
        border-bottom: 3px solid;
        border-image-source: linear-gradient(to right, rgb(35, 195, 184) 0, rgb(35, 195, 184) 50%, #fff 50%, #fff 100%);
        border-image-slice: 1;
        font-size: 20px;
    }
}

.startone {
    margin-left: 20px;
    width: 110px;

    p {
        width: 110px;
        border-bottom: 3px solid;
        border-image-source: linear-gradient(to right, rgb(35, 195, 184) 0, rgb(35, 195, 184) 50%, #fff 50%, #fff 100%);
        border-image-slice: 1;
        font-size: 20px;

    }
}

.bug {

    img {
        width: 200px;
        padding-right: 50px;

    }

}

.arrow {

    p {
        font-size: 25px;
        margin: 0px;

    }


}

.picture-bastille {


    img {
        width: 400px;
        height: 400px;
    }
}

.dish-title {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: white;
    position: absolute;
    top: 300px;
    padding-left: 20px;
    padding-right: 40px;
    box-sizing: border-box;
    padding-top: 40px;

    i {

        font-size: 25px;


    }

    p {
        font-size: 25px;

        font-family: 'Shrikhand', serif;
    }

}


#lumiere {
    display: none;
    cursor: pointer;
    font-size: 25px;
    background: linear-gradient(to bottom, rgb(136, 84, 185),rgb(224, 114, 224)  50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    
    

}
#light{
    font-size: 25px;
}

.dish-title:hover #light {
    opacity: 0;
    cursor: pointer;
    
  }
  
.dish-title:hover #lumiere{
    display: flex;
    cursor: pointer;
    animation: show 500ms forwards;
}




.box {
    display: flex;
    width: 380px;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: 70px;
    animation: mymove 1.5s;
    animation-fill-mode: forwards;




}

.cape {
    display: flex;
    width: 380px;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: 110px;
    animation: mymove 1.5s;
    animation-fill-mode: forwards;

}

.un {
    animation: mymove 3.5s;
}

.deux {
    animation: mymove 5s;
}

.trois {
    animation: mymove 5s;
}

@keyframes mymove {
    from {
        transform: translateY(20%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;

    }
}


.container {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 70px;
    margin-left: 20px;
    margin-right: 40px;
    transition: all 500ms;
    cursor: pointer;

    &:hover {
        width: 250px;


    }


    &:hover+.itemx {
        width: 80px;
        opacity: 1;
        transform: scaleX(1);




        i {
            transform: translateX(0) rotate(0turn);




        }





    }
}

.objet {
    width: 90%;




    h3 {

        margin-bottom: 0px;



    }

}


.itemone {
    width: 90%;




    h3 {

        margin-bottom: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;


    }
}

.itemtwo {
    width: 100%;


}

.a {

    width: 90%;
    float: left;


    p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 0;
        font-size: 15px;


    }

}

.b {
    width: 5%;
    float: left;


    p {
        margin-top: 0px;
        font-weight: bold;
    }
}


.itemx {

    display: flex;
    opacity: 0;
    align-items: center;
    width: 20px;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(35, 195, 184);
    transition: all 500ms;
    transform: scaleX(0);
    transform-origin: right;




    i {
        display: flex;
        font-size: 30px;
        color: #fff;
        justify-content: center;
        align-content: center;
        transform: translateX(250%) rotate(-3turn);



        transition: all 500ms;


    }


}

.command {
    width: 200px;
    height: 50px;
    background: linear-gradient(to bottom, rgb(136, 84, 185), rgb(224, 114, 224) 50%);
    color: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);

    p {
        font-weight: bold;
    }

}

.yes {
    width: 150px;

    p {
        color: #fff;
        font-size: 20px;
        font-family: 'Shrikhand', serif;

    }
}

.end {
    margin-left: 20px;
}


.finder {
    width: 200px;
    display: flex;
    gap: 10px;
    color: #fff;

    p {
        margin-bottom: 10px;
        margin-top: 0px;

    }

    i {
        display: flex;
        align-self: flex-start;


    }
}

#hand {
    font-size: 13px;
    display: flex;
    align-self: flex-start;
}

.address {
    width: 200px;
    color: #fff;


    p {
        margin-bottom: 10px;
        margin-top: 0px;


    }

    a {
        text-decoration: none;
        color: #fff;

    }
}

footer {
    background-color: rgb(43, 42, 42, 0.9);
    width: 100%;
    height: 100%;
    display: flex;

}

#loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(43, 42, 42, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hidden 3s forwards;
    z-index: 100;
    pointer-events: none;

}

#loader::after {

    content: "";
    width: 100px;
    height: 100px;
    border: 5px solid #F2F2F2;
    border-top-color: $primary-color;
    border-bottom-color: $secondary-color;
    border-radius: 50%;
    animation: spin 3s infinite;


}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes hidden {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}







@media screen and (min-width:421px) {
    .navlo {
        margin: 0px auto;
        width: 100%;

    }

    .wrapper {
        margin: 0px auto;
    }

    .part {
        margin: 0px auto;
        background: none
    }

    .bugarrow {
        margin: 0 auto;
    }

    .longway {
        margin: 0 auto;
    }

    .start {
        display: flex;
        margin: 0 auto;
        justify-content: flex-start;
    }

    .startone {
        display: flex;
        margin: 0 auto;
        justify-content: flex-start;

    }

    .cape {
        margin: 0 auto;
    }

    .command {
        margin: 0 auto;
    }

    .box {
        margin: 0 auto;
    }

    #loader {
        margin: 0 auto;
    }








}