* h2 {
  font-family: "Shrikhand", serif;
}

* p {
  font-family: "Roboto", sans-serif;
}

* h3 {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.none {
  display: none;
}

.part {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F2F2F2;
  padding-bottom: 40px;
  padding-top: 40px;
  align-items: center;
}

.detente {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
  padding-left: 20px;
}
.detente h3 {
  margin-bottom: 0px;
}

.service {
  max-width: 235px;
}
.service h3 {
  font-size: 15px;
}

.navlo {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  background: #F2F2F2;
  height: 330px;
  padding-top: 20px;
}

.locate {
  width: 180px;
  height: 40px;
  background: linear-gradient(to top, #9356DC, #FF79DA 95%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
  font-size: 12px;
}

.logo img {
  width: 150px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-top: 5px solid #ddd9d9;
  border-bottom: 5px solid #F2F2F2;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
  background: #F2F2F2;
  box-sizing: border-box;
}

input {
  border: none;
  background-color: #F2F2F2;
  font-weight: bold;
  background: #F2F2F2;
}

.eat {
  display: flex;
  max-width: 270px;
  text-align: center;
}

.wrapper {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  align-items: center;
}

.option {
  display: flex;
  width: 95%;
  height: 80px;
  border-radius: 20px;
  gap: 10px;
  overflow: visible;
  z-index: 1;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
  background: #F2F2F2;
}
.option p {
  font-weight: bold;
}
.option:hover {
  background: rgba(147, 86, 220, 0.15);
}
.option:hover #icony {
  color: #9356DC;
}
.option:hover #icon {
  color: #9356DC;
}
.option:hover #iconx {
  color: #9356DC;
}

#icone {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

#iconex {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

#iconey {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

#icon {
  font-size: 22px;
  color: grey;
}

#iconx {
  font-size: 22px;
  color: grey;
}

#icony {
  font-size: 22px;
  color: grey;
}

.m {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 3px solid;
  align-items: center;
  align-self: center;
  left: -17px;
  position: relative;
  z-index: 2;
  background: rgb(134, 18, 244);
  color: #fff;
}
.m i {
  margin: 0px auto;
}

.n {
  display: flex;
  gap: 20px;
}
.n i {
  align-self: center;
}
.n p {
  align-self: center;
}

.place {
  width: 90%;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: #fff;
  margin: 0 20px;
}

.carton {
  position: relative;
}

.photo {
  position: relative;
}
.photo img {
  width: 100%;
  max-height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  object-position: 10% 60%;
}

.mot {
  display: flex;
  width: 80px;
  height: 25px;
  background: #99E2D0;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.mot p {
  font-weight: bold;
  margin: 0;
  color: green;
}

.choice {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.c {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
}
.c h3 {
  margin-bottom: 0px;
  font-size: 14px;
}
.c p {
  margin-top: 0px;
  font-size: 14px;
}

.room {
  display: none;
  cursor: pointer;
  font-size: 25px;
  background: linear-gradient(to bottom, rgb(136, 84, 185), rgb(224, 114, 224) 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.chambre {
  font-size: 25px;
}

.d:hover .chambre {
  opacity: 0;
  cursor: pointer;
}

.d:hover .room {
  display: flex !important;
  cursor: pointer;
  animation: show 500ms forwards;
}

@-webkit-keyframes show {
  0% {
    opacity: 0.1;
    font-size: 5px;
  }
  25% {
    opacity: 0.3;
    font-size: 10px;
  }
  50% {
    opacity: 0.5;
    font-size: 15px;
  }
  75% {
    opacity: 0.8;
    font-size: 20px;
  }
  100% {
    opacity: 1;
    font-size: 25px;
  }
}
@-moz-keyframes show {
  0% {
    opacity: 0.1;
    font-size: 5px;
  }
  25% {
    opacity: 0.3;
    font-size: 10px;
  }
  50% {
    opacity: 0.5;
    font-size: 15px;
  }
  75% {
    opacity: 0.8;
    font-size: 20px;
  }
  100% {
    opacity: 1;
    font-size: 25px;
  }
}
@keyframes show {
  0% {
    opacity: 0.1;
    font-size: 5px;
  }
  25% {
    opacity: 0.3;
    font-size: 10px;
  }
  50% {
    opacity: 0.5;
    font-size: 15px;
  }
  75% {
    opacity: 0.8;
    font-size: 20px;
  }
  100% {
    opacity: 1;
    font-size: 25px;
  }
}
.d {
  display: flex;
  align-items: center;
  height: 80px;
}

.bugarrow {
  display: flex;
  max-width: 500px;
  flex-basis: 200px;
  justify-content: space-around;
  position: relative;
  z-index: 10;
  bottom: -30px;
  background: #fff;
  padding-bottom: 10px;
}

.longway {
  max-width: 500px;
  height: 420px;
}

.start {
  margin: 0 20px;
  max-width: 110px;
}
.start p {
  max-width: 100px;
  border-bottom: 3px solid;
  border-image-source: linear-gradient(to right, rgb(35, 195, 184) 0, rgb(35, 195, 184) 50%, #fff 50%, #fff 100%);
  border-image-slice: 1;
  font-size: 20px;
}

.startone {
  margin: 0 20px;
  width: 110px;
}
.startone p {
  width: 110px;
  border-bottom: 3px solid;
  border-image-source: linear-gradient(to right, rgb(35, 195, 184) 0, rgb(35, 195, 184) 50%, #fff 50%, #fff 100%);
  border-image-slice: 1;
  font-size: 20px;
}

.bug img {
  max-width: 200px;
  padding-right: 50px;
}

.arrow p {
  font-size: 25px;
  margin: 0px;
}

.picture-bastille {
  max-width: 100%;
}
.picture-bastille img {
  width: 100%;
  height: 400px;
}

#adjust {
  margin-bottom: 0;
  align-self: flex-end;
}

.dish-title {
  max-width: 500px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  border-bottom: none;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background-color: #fff;
  top: -120px;
  box-sizing: border-box;
  z-index: 10;
  position: relative;
  padding-left: 20px;
  padding-right: 50px;
}
.dish-title i {
  font-size: 25px;
  align-self: center;
}
.dish-title p {
  width: 60%;
  font-size: 25px;
  font-family: "Shrikhand", serif;
  align-self: center;
}

#lumiere {
  display: none;
  cursor: pointer;
  font-size: 25px;
  background: linear-gradient(to bottom, rgb(136, 84, 185), rgb(224, 114, 224) 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

#light {
  font-size: 25px;
}

.dish-title:hover #light {
  opacity: 0;
  cursor: pointer;
}

.dish-title:hover #lumiere {
  display: flex;
  cursor: pointer;
  animation: show 500ms forwards;
}

.chrono {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 420px;
  margin: 0 20px;
}

.box {
  display: flex;
  max-width: 380px;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  height: 70px;
  animation: mymove 1.5s;
  animation-fill-mode: forwards;
}

.cape {
  display: flex;
  max-width: 380px;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  height: 110px;
  animation: mymove 1.5s;
  animation-fill-mode: forwards;
}

.un {
  animation: mymove 3.5s;
}

.deux {
  animation: mymove 5s;
}

.trois {
  animation: mymove 5s;
}

@keyframes mymove {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 70px;
  margin-left: 20px;
  margin-right: 40px;
  transition: all 500ms;
  cursor: pointer;
}
.container:hover {
  width: 250px;
}
.container:hover + .itemx {
  width: 80px;
  opacity: 1;
  transform: scaleX(1);
}
.container:hover + .itemx i {
  transform: translateX(0) rotate(0turn);
}

.objet {
  width: 90%;
}
.objet h3 {
  margin-bottom: 0px;
}

.itemone {
  width: 90%;
}
.itemone h3 {
  margin-bottom: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.itemtwo {
  width: 100%;
}

.a {
  width: 90%;
  float: left;
}
.a p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0;
  font-size: 15px;
}

.b {
  width: 5%;
  float: left;
}
.b p {
  margin-top: 0px;
  font-weight: bold;
}

.itemx {
  display: flex;
  opacity: 0;
  align-items: center;
  width: 20px;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgb(35, 195, 184);
  transition: all 500ms;
  transform: scaleX(0);
  transform-origin: right;
}
.itemx i {
  display: flex;
  font-size: 30px;
  color: #fff;
  justify-content: center;
  align-content: center;
  transform: translateX(250%) rotate(-3turn);
  transition: all 500ms;
}

.manual {
  align-self: flex-start;
}

.command {
  width: 200px;
  height: 50px;
  background: linear-gradient(to bottom, rgb(136, 84, 185), rgb(224, 114, 224) 50%);
  color: #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
}
.command p {
  font-weight: bold;
}

.yes {
  width: 150px;
}
.yes p {
  color: #fff;
  font-size: 20px;
  font-family: "Shrikhand", serif;
}

.end {
  margin-left: 20px;
}

.finder {
  width: 200px;
  display: flex;
  gap: 10px;
  color: #fff;
}
.finder p {
  margin-bottom: 10px;
  margin-top: 0px;
}
.finder i {
  display: flex;
  align-self: flex-start;
}

#hand {
  font-size: 13px;
  display: flex;
  align-self: flex-start;
}

.address {
  width: 200px;
  color: #fff;
}
.address p {
  margin-bottom: 10px;
  margin-top: 0px;
}
.address a {
  text-decoration: none;
  color: #fff;
}

footer {
  background-color: rgba(43, 42, 42, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
}

#loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgb(43, 42, 42);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hidden 3s forwards;
  z-index: 100;
  pointer-events: none;
}

#loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 5px solid #F2F2F2;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  animation: spin 3s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hidden {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (min-width: 992px) {
  main {
    background: #99E2D0;
  }
  .box {
    background: #F2F2F2;
  }
  .navlo {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    background: #F2F2F2;
    height: 330px;
  }
  .picture-bastille img {
    width: 100%;
    object-fit: cover;
  }
  .longway {
    max-width: 1920px;
    margin: 0 20px;
    height: 550px;
  }
  .bugarrow {
    display: flex;
    max-width: 500px;
    flex-basis: 100px;
    justify-content: space-around;
    position: static;
    z-index: 0;
    bottom: none;
    background: #fff;
    padding: 0;
    margin: 0 auto;
  }
  .chrono {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    max-width: 370px;
  }
  .dish-title {
    max-width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #99E2D0;
    position: static;
    top: none;
    box-sizing: border-box;
    padding: 0;
    z-index: none;
    position: static;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .dish-title i {
    font-size: 25px;
    align-self: center;
  }
  .dish-title p {
    width: 80%;
    font-size: 25px;
    font-family: "Shrikhand", serif;
    align-self: center;
  }
  .navigation {
    background: #F2F2F2;
    max-width: 300px;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    margin: 0px 0 0px 20px;
    order: 4;
  }
  .service {
    max-width: 235px;
    order: 2;
    margin: 0px 0 0px 20px;
  }
  .service h3 {
    font-size: 16px;
  }
  .logo {
    order: 1;
    margin: 0px 0 0px 20px;
  }
  .logo img {
    max-width: 200px;
  }
  .eat {
    display: flex;
    max-width: 270px;
    text-align: center;
    order: 3;
    margin: 20px 0 20px 20px;
  }
  .eat p {
    font-size: 11px;
    margin-top: 0px;
  }
  .bend {
    max-width: 300px;
    display: flex;
    border-radius: 20px;
  }
  .bend i {
    display: flex;
    width: 60px;
    height: 40px;
    justify-content: center;
    background: #9356DC;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    align-items: center;
    color: #F2F2F2;
    border-top: 5px solid #F2F2F2;
    border-bottom: 5px solid #F2F2F2;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.3) inset;
  }
  .bend input {
    min-width: 230px;
    height: 40px;
    border-top: 5px solid #F2F2F2;
    border-bottom: 5px solid #F2F2F2;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.3) inset;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .locate {
    max-width: 180px;
    align-self: center;
    order: 5;
  }
  .wrapper::before {
    content: " How it works";
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }
  .wrapper {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    gap: 40px;
    margin: 20px 20px;
    align-items: center;
  }
  .option {
    width: 90%;
    height: 80px;
  }
  .manual {
    display: none;
  }
  .part::before {
    content: "Restaurants";
    position: absolute;
    font-weight: bold;
    top: 10px;
    font-family: "Roboto", sans-serif;
  }
  .part {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #99E2D0;
    padding: 40px 20px;
    align-items: center;
    margin: 0 auto;
    position: relative;
  }
  .detente {
    display: none;
  }
  .big {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 20px;
  }
  .start {
    display: none;
  }
  .startone {
    display: none;
  }
  .cape {
    height: 70px;
    background: #F2F2F2;
  }
  .huit::before {
    content: "ENTREES";
    max-width: 100px;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to right, rgb(35, 195, 184) 0, rgb(35, 195, 184) 50%, #fff 50%, #fff 100%);
    border-image-slice: 1;
    font-size: 20px;
  }
  .neuf::before {
    content: "MAIN DISH";
    max-width: 110px;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to right, rgb(35, 195, 184) 0, rgb(35, 195, 184) 50%, #fff 50%, #fff 100%);
    border-image-slice: 1;
    font-size: 20px;
  }
  .neuf {
    justify-content: flex-start;
  }
  .dix::before {
    content: "DESSERT";
    max-width: 100px;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to right, rgb(35, 195, 184) 0, rgb(35, 195, 184) 50%, #fff 50%, #fff 100%);
    border-image-slice: 1;
    font-size: 20px;
  }
  .dix {
    justify-content: flex-start;
  }
  .objet {
    width: 90%;
  }
  .objet h3 {
    margin-bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .command {
    margin: 0 auto;
  }
  #loader {
    margin: 0 auto;
  }
}
@media (768px <= width <= 992px) {
  main {
    background: #99E2D0;
  }
  .navlo {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    background: #F2F2F2;
    height: 330px;
  }
  .box {
    background: #F2F2F2;
  }
  .bugarrow {
    display: flex;
    max-width: 500px;
    flex-basis: 100px;
    justify-content: space-around;
    position: static;
    z-index: 0;
    bottom: none;
    background: #fff;
    padding: 0;
    margin: 0 auto;
  }
  .dish-title {
    max-width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #99E2D0;
    position: static;
    top: none;
    box-sizing: border-box;
    padding: 0;
    z-index: none;
    position: static;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .dish-title i {
    font-size: 25px;
    align-self: center;
  }
  .dish-title p {
    width: 80%;
    font-size: 25px;
    font-family: "Shrikhand", serif;
    align-self: center;
  }
  .navigation {
    background: #F2F2F2;
    max-width: 300px;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    margin: 0px 0 0px 20px;
    order: 4;
  }
  .service {
    max-width: 235px;
    order: 2;
    margin: 0px 0 0px 20px;
  }
  .service h3 {
    font-size: 18px;
  }
  .logo {
    order: 1;
    margin: 0px 0 0px 20px;
  }
  .logo img {
    max-width: 200px;
  }
  .eat {
    display: flex;
    max-width: 270px;
    text-align: center;
    order: 3;
    margin: 20px 0 20px 20px;
  }
  .eat p {
    font-size: 11px;
    margin-top: 0px;
  }
  .chrono {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
  }
  .bend {
    max-width: 300px;
    display: flex;
    border-radius: 20px;
  }
  .bend i {
    display: flex;
    width: 60px;
    height: 40px;
    justify-content: center;
    background: #9356DC;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    align-items: center;
    color: #F2F2F2;
    border-top: 5px solid #F2F2F2;
    border-bottom: 5px solid #F2F2F2;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.3) inset;
  }
  .bend input {
    min-width: 230px;
    height: 40px;
    border-top: 5px solid #F2F2F2;
    border-bottom: 5px solid #F2F2F2;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.3) inset;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .locate {
    max-width: 180px;
    align-self: center;
    order: 5;
  }
  .picture-bastille img {
    width: 100%;
    object-fit: cover;
  }
  .longway {
    max-width: 1920px;
    margin: 0 20px;
    height: 550px;
  }
  .manual {
    display: none;
  }
  .wrapper::before {
    content: " How it works";
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: -35px;
  }
  .wrapper {
    display: flex;
    max-width: 992px;
    flex-direction: row;
    gap: 40px;
    margin: 20px 20px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
  }
  .option {
    width: 35%;
  }
  .part::before {
    content: "Restaurants";
    position: absolute;
    font-weight: bold;
    top: 10px;
    font-family: "Roboto", sans-serif;
    left: 10px;
  }
  .part {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #99E2D0;
    padding: 40px 20px;
    align-items: center;
    margin: 0 auto;
    position: relative;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
  }
  .detente {
    display: none;
  }
  .place {
    width: 40%;
  }
  .big {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    flex-wrap: wrap;
    margin: 0 20px;
  }
  .start {
    display: none;
  }
  .startone {
    display: none;
  }
  .cape {
    height: 70px;
    background: #F2F2F2;
  }
  .huit::before {
    content: "ENTREES";
    max-width: 100px;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to right, rgb(35, 195, 184) 0, rgb(35, 195, 184) 50%, #fff 50%, #fff 100%);
    border-image-slice: 1;
    font-size: 20px;
  }
  .neuf::before {
    content: "MAIN DISH";
    max-width: 110px;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to right, rgb(35, 195, 184) 0, rgb(35, 195, 184) 50%, #fff 50%, #fff 100%);
    border-image-slice: 1;
    font-size: 20px;
  }
  .neuf {
    justify-content: flex-start;
  }
  .dix::before {
    content: "DESSERT";
    max-width: 100px;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to right, rgb(35, 195, 184) 0, rgb(35, 195, 184) 50%, #fff 50%, #fff 100%);
    border-image-slice: 1;
    font-size: 20px;
  }
  .dix {
    justify-content: flex-start;
  }
  .objet {
    width: 90%;
  }
  .objet h3 {
    margin-bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (500px <= width <= 768px) {
  main {
    background: #99E2D0;
  }
  .main-container {
    background: #F2F2F2;
  }
  .bugarrow {
    display: flex;
    max-width: 500px;
    flex-basis: 100px;
    justify-content: space-around;
    position: static;
    z-index: 0;
    bottom: none;
    background: #fff;
    padding: 0;
    margin: 0 auto;
  }
  .box {
    background: #F2F2F2;
  }
  .part::before {
    content: "Restaurants";
    position: absolute;
    font-weight: bold;
    top: 10px;
    font-family: "Roboto", sans-serif;
    left: 10px;
  }
  .dish-title {
    max-width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #99E2D0;
    position: static;
    top: none;
    box-sizing: border-box;
    padding: 0;
    z-index: 0;
    position: static;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .dish-title i {
    align-self: center;
    font-size: 25px;
  }
  .dish-title p {
    width: 80%;
    font-size: 25px;
    font-family: "Shrikhand", serif;
    align-self: center;
  }
  .chrono {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
  }
  .part {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #99E2D0;
    padding: 40px 20px;
    align-items: center;
    margin: 0 auto;
    position: relative;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
  }
  .detente {
    display: none;
  }
  .place {
    width: 40%;
  }
  .picture-bastille img {
    width: 100%;
    object-fit: cover;
  }
  .longway {
    max-width: 1920px;
    margin: 0 20px;
    height: 550px;
  }
  .manual {
    display: none;
  }
  .wrapper::before {
    content: " How it works";
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: -35px;
  }
  .wrapper {
    display: flex;
    max-width: 992px;
    flex-direction: row;
    gap: 40px;
    margin: 20px 20px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
  }
  .option {
    width: 35%;
  }
  .big {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    flex-wrap: wrap;
    margin: 0 20px;
  }
  .start {
    display: none;
  }
  .startone {
    display: none;
  }
  .cape {
    height: 70px;
    background: #F2F2F2;
  }
  .huit::before {
    content: "ENTREES";
    max-width: 100px;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to right, rgb(35, 195, 184) 0, rgb(35, 195, 184) 50%, #fff 50%, #fff 100%);
    border-image-slice: 1;
    font-size: 20px;
  }
  .neuf::before {
    content: "MAIN DISH";
    max-width: 110px;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to right, rgb(35, 195, 184) 0, rgb(35, 195, 184) 50%, #fff 50%, #fff 100%);
    border-image-slice: 1;
    font-size: 20px;
  }
  .neuf {
    justify-content: flex-start;
  }
  .dix::before {
    content: "DESSERT";
    max-width: 100px;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to right, rgb(35, 195, 184) 0, rgb(35, 195, 184) 50%, #fff 50%, #fff 100%);
    border-image-slice: 1;
    font-size: 20px;
  }
  .dix {
    justify-content: flex-start;
  }
  .objet {
    width: 90%;
  }
  .objet h3 {
    margin-bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}